DB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/complexell
JWT_SECRET=replace_with_long_random_secret
PORT=3000
SERVER_URL=http://localhost:3000
CLIENT_URL=http://localhost:5173
RESEND_API_KEY=your_resend_api_key
ADMIN_EMAIL=admin@complexell.dev
ADMIN_USERNAME=complexell_admin
ADMIN_PASSWORD=Admin@123!
ADMIN_ROUTE_SECRET=dfljjlfajd
